<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Vishnu C Prasad. It uses data from mapbox.com and weatherstack.com!</p>
        <div class="about-me">
            <div>
                <img class="portrait" src="./img/me.jpg" >
            </div>
            <div>
                <h2>About me.</h2>
                <h4>Vishnu C Prasad</h4>
                <p>Logical and results-driven Junior Web Developer dedicated to building and optimizing user-focused websites for customers with various business objectives. Judicious and creative when crafting effective websites and platforms to propel competitive advantage and revenue growth. Technically proficient and analytical problem solver with calm and focused demeanor.</p>
            </div>
        </div>
    <h2>About app.</h2>
    <p>This app provides the weather information based on location you enter in the search box under weather tab.</p>
    </div>
    {{>footer}}
</body>
</html>