<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>How to use.?</h3>
        <p>To get the weather information, Go to the weather tab then enter your location in the search box and click search, All done! now you will get the weather based on your location.</p>
    </div>
    {{>footer}}
</body>
</html>