<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Enter your location below to get your weather!</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <div class="message-content">
            <div class="description-content">
                <div>
                    <img id="icon" src="" alt="">
                </div>
                <div>
                    <h2 id="description"></h2>
                </div>
            </div>
            <h3 id="location"></h3>
            <p id="forecast"></p>
            <p id="wind-speed"></p>
            <p id="pressure"></p>
            <p id="humidity"></p>
        </div>
    </div>
    {{>footer}}

    <script src="./js/app.js"></script>
</body>

</html>