body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 16px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin: 16px 0 48px 0;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

img {
    width: 250px;
}